  <header>
    <div class="interior">
      <nav class="navegacion">
        <ul>
          <li><a href="/" target="blank">Inicio</a></li>
          <!--<li><a href="index.html" target="blank">Nosotros</a></li>
              <li><a href="index.html" target="blank">Contacto</a></li>--->
          <li><a href="/login" target="blank">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>







