    
    <header>
    <div class="interior">
      <nav class="navegacion">
        <ul>
          <li><a href="/sesion_iniciada" target="blank">Inicio</a></li>
          <!--<li><a href="index.html" target="blank">Nosotros</a></li>
              <li><a href="index.html" target="blank">Contacto</a></li>--->
          <li><a href="/logout" target="blank">Cerrar Sesión</a></li>
        </ul>
        <div class="dropdown">
          <button class="dropbtn">Dropdown<i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
      </nav>
    </div>
  </header>