<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/mapa.css">
  <title>Avanti</title>

  <link rel="stylesheet" href="css/mapa.css">
</head>

<body>

  <%- include("componentes/logueado")%>
  <% for (var i = 0; i < resultado.length; i++) { %>
      <div class="mapa">
        <center>
          <iframe
            src="<%= resultado[i].url_mapa%>"
            width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </center>
      </div>
      <% break} %>
      <tbody>
      <% resultado.forEach ((lugar) => { %>
      <section class="galeria">
        <div class="contenedor">
          <article class="galeria-cont">
            <a href="/lugar/comentarios/<%= lugar.id_lugar %>"><img src="imagenes/<%= lugar.img_lugar %>" alt="" style="border:3px solid green;
                  border-radius:22px;"></a>
          </article>
        </div>
      </section>
      <% }) %>
    </tbody>

</body>

</html>